@import '~react-image-gallery/styles/css/image-gallery.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header-link {
  @apply dark:text-slate-200 dark:hover:text-purple-500 dark:hover:border-purple-500 transition-all duration-300 text-gray-700 inline-block py-2 px-1 border border-transparent hover:text-red-800 hover:border-red-800 hover:bg-red-50 mx-1 font-semibold rounded text-sm lg:text-base;
}

.footer-link {
  @apply dark:text-slate-400 transition-all duration-300 inline-block text-gray-500 hover:text-gray-950 py-1 mr-1 hover:underline decoration-gray-700 underline-offset-2;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: red;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: red;
  }
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: red;
    border: 1px solid red;
  }
  .image-gallery-thumbnail:hover {
    border: 2px solid red;
  }
}

.image-gallery-bullet:hover {
  background: red;
  border: 1px solid red;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid red;
}

.image-gallery-thumbnail-image {
  height: 100px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.image-gallery {
  width: 100%;
}

.flex-flow {
  flex-flow: row wrap;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}
